@model IEnumerable<EmpManager.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-action="ProjectForm" asp-route-id="@item.ProjectId">Edit</a> |
                <a class="deleteproject" data-value="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
